:root {
    font-family: serif;
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(230,230,230);
    color: rgb(25,25,25);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* body */

body {
	margin-top: 2.5rem;
	margin-bottom: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: inherit;
}

@media (min-width: 400px) {
	body {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

/* a */

a {
	text-decoration: none;
}

a:link {
	color: rgb(25,25,25);;
	text-decoration: underline;
}

a:visited {
	color: rgb(25,25,25);
}

a:focus {
	color: rgb(0,0,0);
	text-decoration: underline;
	outline-color: rgb(25,25,25);
}

a:hover {
	color: rgb(25,25,25);
	text-decoration: underline;
}

a:active {
	color: rgb(25,25,25);
}